.rbc-header{
    color: white;
    background-color:#CEBEBE;
}
.rbc-header span{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.rbc-day-bg:hover{
    background-color: #CEBEBE;
}
.rbc-toolbar-label{
  color:#6d2e46;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: x-large;
}
.rbc-btn-group button{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:#6d2e46
}



.popupCalendar {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 500px;
    height: flex;
    padding: 20px;
    border-radius: 5px;
    border: 3px solid rgb(177, 175, 175); /* border color */
    z-index: 1000; /* ensure the popup appears on top of other elements */
}
  
  .popup-contentCalendar {
    background-color: rgb(177, 175, 175);
    padding: 20px;
    border-radius: 10px;
  }

  .popup-contentCalendarHeader{
    position: fixed;
    top: 6%;
    left: 5%;
    flex-direction: row;
    padding-bottom: 50px;
  }

  .popup-contentCalendarHeader button{
    margin-left: 235px;
  }

  .popup-contentCalendarHeader h2 {
    display:inline-block;
    margin-left: 10px;
    color: #6d2e46;
  }

  .popup-contentCalendarEventTitle{
    margin-top: 50px;
  }
  
  .popup-contentCalendar p {
    margin-bottom: 20px;
    color: #d5cdcd;
  }

  .popup-contentCalendar label {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .popup-contentCalendar input {
    width: 75%;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .popup-contentCalendar button {
    padding: 10px 20px;
    background-color: #6d2e46;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .popup-contentCalendar button:hover {
    background-color: #fff;
    color: #6d2e46;
  }
  
  .close-btnCalendar {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #6d2e46;
    cursor: pointer;
  }
  