
.GridContainer{
    font-family: 'PT Sand', sans-serif;
    display: grid;
    min-height: 100vh;
    grid-template-areas:
    "nav"
    "main";
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr;
}

.NavContainer{
    grid-area: "nav";
    padding-top: 10px;
    padding-left: 100px;
    background-color: #e3e3e3;
}

.MainContainer{
    grid-area: "main";
    background-color: #e3e3e3;
}
.MainGoalsContainer{
   margin-top: 0px;
   text-align: center;
   
}
.MainGoalsContainer p{
    text-align: center;
    margin-bottom: 0px;
    font-size: 25px;
    
 }

.NavTitle{
    font-size: 30px;
    margin-bottom: 100px;
}

.HeaderContainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 10px;
    padding-right: 100px;
    margin-bottom: 35px;
    padding-right: 30px;

}

.HeaderItem{
    padding-right: 50px;
    :last-child{
        padding: 0;
    }
    font-size: 22px;

}
.dayButton{
    background-color: #A26769;
    padding: 12px 12px;
    font-size: 18px;
    margin-right:16px;
    margin-left:16px;
    border-radius: 5;
}

.circleGoals{
    display:inline-block;
    align-items: center;
    margin-left: 43px;
    margin-right: 42px;
    margin-top: 5px;
}

.daysGoals{
    display:inline-block;
    align-items: center;
    margin-left: 43px;
    margin-right: 43px;
    margin-top: 5px;
}

.daysContainer {
    display: flex;
    justify-content: space-between; /* Adjust as needed */
}

.dayContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circleGoals {
    margin-top: 5px; /* Adjust as needed */
}
