.RewardsContainer {
    display: flex;
    flex-direction: column;
    margin-right: 45px;
}

.RewardsHeader h1 {
    display: inline-block;
    margin-right: 55px;
}

.RewardsHeader {
    margin-bottom: 45px;
    margin-top: 45px;
    flex-direction: row;
}

.TitleSection {
    color: #6D2E46;
    text-transform: uppercase;
    font-size: 30px;
}

.AddRewardButton {
    margin-top: 20px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.RewardRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
}

.Name {
    text-transform: uppercase;
}

.Action {
    display: flex;
    align-items: center;
}

.popupRewards {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #D5B9B2;
    width: 800px;
    height: 450px;
    padding: 20px;
    border-radius: 5px;
    border: 5px solid #ECE2D0;
    z-index: 1000;
}
